*.user

SDKs

build
bin
cache
build-ios
installers/win/Output/

installer-tmp

cmake-build-*
CMakeFiles
CMakeCache.txt
cmake_install.cmake
CMakeScripts

.idea
.vs

IDEWorkspaceChecks.plist
UserInterfaceState.xcuserstate
xcschememanagement.plist
*.xcscheme
.vscode
*.xcworkspace
*.DS_Store
*.entitlements
*.cpb
Makefile

workspace.xml
xcuserdata

