$light: #EAE5DB;
$dark: #413939;
$blue: #bfccd2;
$yellow: #F1AC00;
$green: #83af80;
$orange: #cf8a44;
$red: #d86363;

$primary: $green;

$bg: $light;
$bg-darker: darken($light, 5);

:root {
    --light: #{$light};
    --dark: #{$dark};
    --blue: #{$blue};
    --yellow: #{$yellow};
    --green: #{$green};
    --orange: #{$orange};
    --red: #{$red};

    --primary: #{$primary};
}
