button {
    color: theme("colors.dark");

    &:hover {
        text-decoration: underline;
    }

    &:active {
        transform: translateY(3px);
    }

    &.no-move:active {
        transform: none;
    }
}

.btn {
    background-color: var(--bg-darker);

    &.btn-no-bg {
        background-color: transparent;
        &:active {
            background-color: transparent;
        }

        &.active {
            background-color: transparent;
        }
    }

    &:active {
        background-color: transparentize($green, 0.7);
    }

    &.active {
        background-color: transparentize($green, 0.7);
    }

    padding: 0.25em 0.5em;

    &:disabled {
        opacity: 0.2;
        &:active {
            transform: none;
        }
        &:hover {
            text-decoration: none;
        }
    }
}

input {
    //@apply shadow-md;
    @apply bg-green;
    @apply bg-opacity-70;
    //background-color: $green;
    padding: 0.25em 0.5em;

    // @apply border-dark;
    // @apply border-2;

    &:focus {
        background-color: transparentize($green, 0.7);
        outline: none;
    }
}

input[type="checkbox"] {
    appearance: none;
    width: 2em;
    aspect-ratio: 1/1;
    cursor: pointer;

    &:checked {
        background-color: $green;
        color: theme("colors.light");

        &::before {
            content: "✓";
            opacity: 1;
        }
    }
    
    &::before {
        content: "-";
        opacity: 0;
        font-weight: 100;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(1px);
    }

}

select {
    appearance: none;
    background-color: var(--bg-darker);
    color: theme("colors.dark");
    border-radius: 0;
    padding: 0.2em 0.5em;
    cursor: pointer;
    &:active{
        background-color: transparentize($green, 0.7);
        outline: none;
    }
    &:focus {
        outline: none;
    }
}
