.mx-context-menu.imagiro {
    & {
        //Overwrite the value of the default css variable here
        --mx-menu-backgroud: #{$bg};
        --mx-menu-hover-backgroud: #{$piano-green};
        --mx-menu-open-backgroud: #{$piano-green};
        --mx-menu-open-hover-backgroud: #{$piano-green};
        --mx-menu-placeholder-width: 0.5em; 
    }

    //Customize menu outer style
    padding: 8px 0;
    box-shadow: 0px 5px 7px 1px var(--mx-menu-shadow-color);
    border: 1px solid var(--mx-menu-border-color);

    //Customize the style of menu item
    .mx-context-menu-item {
        border-radius: 5px;
        margin: 0 6px;
        padding: 3px 6px;
    }

    //Please view the complete style of each part in ContextMenu.scss
}
